/**
custom.scss modifies vue/bootstrap original color schemes.
*/

$customInfo: #1d195588;
$customPrimary: #0a0808;
$customSecondary: #e8e5ee;

$info: $customInfo;
$primary: $customPrimary;
$secondary: $customSecondary;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';